body{
  
}
h1{
  color: #440A67;
  font-size: 50px;
}

h2{
  color: #440A67;
}
h3{
  color: #440A67;
}
p{
  color: #440A67;
  font-size: 17px;
}
table{
  color: #440A67;
  border-color: #440A67;
}
h4{
  color: #440A67;
}
